﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Error al procesar la solicitud.</h2>
        @if (!ViewBag.IsSuccess)
        {
            <h3>@ ViewBag.Msg</h3>
        }
    </hgroup>
</body>
</html>
