﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Cargar Archivo</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <form method="post" action="/Home/UploadFile" enctype="multipart/form-data">
                <label>Nombre del CV</label>
                <input type="text" name="name" id="name" class="form-control" required /><br />
                <label>Cargar archivo</label>
                <input type="file" name="fileBase" id="fileBase" class="form-control" required accept=".pdf" />
                <br />
                <label>Elige que libreria usar</label><br />
                <input type="radio" id="option" name="option[]" value="1" required/>Iron Ocr
                <br />
                <input type="radio" id="option" name="option[]" value="2" required/>ITextSharp
                <br /><br />
                <input type="submit" value="Subir" class="btn" />
            </form>
        </div>
    </div>
</div>



@section scripts{
    
<script>
    $(function () {
        $("#form_CV").on('submit', function (e) {
            e.preventDefault();
            var file = $("#fileBase")[0].files[0];
            var data = new FormData("fileBase", file);

            $.ajax({
                type: 'POST',
                url: '/Home/UploadCV',
                data: data,
                contentType: false,
                processData: false,
                success: function (data) {

                },
                error: function (r) {

                }
            })
        })
    })
</script>
}
