﻿
@{
    ViewBag.Title = "UploadFile";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


@*<h2>UploadFile</h2>*@

@if (ViewBag.IsSuccess)
{
    <div class="container">
        @*<h2>Dynamic Tabs</h2>*@
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Información CV</a></li>
            <li><a data-toggle="tab" href="#menu1">Educación</a></li>
            <li><a data-toggle="tab" href="#menu2">Experiencia</a></li>
            <li><a data-toggle="tab" href="#menu3">Habilidades</a></li>
            @*<li><a data-toggle="tab" href="#menu4">Posición</a></li>*@
            @*<li><a data-toggle="tab" href="#menu5">Actividades</a></li>*@
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Información CV</h3>
                <pre>@ViewBag.IronPDF</pre>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Educación</h3>

                @if (ViewBag.Education.Count == 0)
                {
                    <h4>No se encontrarón datos</h4>
                }
                else
                {
                    <table border="1" class="table table-bordered table-responsive table-striped" width="100%">
                        <thead>
                            <tr>
                                <td>E</td>
                                <td>P</td>
                                <td>A</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.Education)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (i.Text.Contains("*"))
                                        {
                                            var v = i.Text.Split('*');
                                            <ul>
                                                @foreach (var j in v)
                                                {
                                                    if (j != "")
                                                    {
                                                        <li>@j</li>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            @i.Text
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Experiencia</h3>
                @if (ViewBag.Jobs.Count == 0)
                {
                    <h4>No se encontrarón datos</h4>
                }
                else
                {
                    <table border="1" class="table table-bordered table-responsive table-striped" width="100%">
                        <thead>
                            <tr>
                                <td>E</td>
                                <td>P</td>
                                <td>A</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.Jobs)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (i.Text.Contains("*"))
                                        {
                                            var v = i.Text.Split('*');
                                            <ul>
                                                @foreach (var j in v)
                                                {
                                                    if (j != "")
                                                    {
                                                        <li>@j</li>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            @i.Text
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Habilidades</h3>
                @if (ViewBag.Skills.Count == 0)
                {
                    <h4>No se encontrarón datos</h4>
                }
                else
                {
                    <table border="1" class="table table-bordered table-responsive table-striped" width="100%">
                        <thead>
                            <tr>
                                <td>E</td>
                                <td>P</td>
                                <td>A</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.Skills)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (i.Text.Contains("*"))
                                        {
                                            var v = i.Text.Split('*');
                                            <ul>
                                                @foreach (var j in v)
                                                {
                                                    if (j != "")
                                                    {
                                                        <li>@j</li>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            @i.Text
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>           
        </div>
    </div>

}
else
{
    <h4>@ViewBag.Message</h4>
}